<div class="container">
<div class="row">
  <div class="col-md-5"> Our Developing Team </div>
</div>
<div class="row">
  <div class="col-md-2"> Lalithya Satya </div>
  <div class="col-md-2"> (Team Lead) </div>
</div>
<div class="row">
  <div class="col-md-2"> Supriya Patil  </div>
  </div>
<div class="row">
  <div class="col-md-2"> Surabhi Kulkarni </div>
</div>
<div class="row">
  <div class="col-md-2"> Vinal Bang </div>
</div>
<div class="row">
  <div class="col-md-2"> Krishna Sahithi </div>
</div>
<div class="row">
  <div class="col-md-2"> Anubha Joshi </div>
</div>
<div class="row">
  <div class="col-md-2"> Puneeth Pushpagiri </div>
</div>
<div class="row">
  <div class="col-md-2"> Kameshwar Gupta  </div>
</div>
</div>