 <div class='panel-body'>
    <div class="panel-body" *ngFor='let Product of prodInCart'>
        <div class="col-xs-10">
            <div class="row vertical-align">
                
                    
                        
                <div class="col-xs-4"> 
                    <img class="imageClass" [src]="Product.photoPath" width="300px" height="200"/>
                </div>
                
                <div class="col-xs-10">
                    
                    <div class="row">
                        <div class="col-xs-4">Name</div>
                        <div class="col-xs-6">:{{Product.name}}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4">Price</div>
                        <div class="col-xs-6">:{{Product.price}}</div>
                    </div> 
                </div>
                
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Total Bill</div>
            <div class="col-xs-6">:{{price}}</div>
        </div> 
    </div>
</div>