    <div class='panel-body'>
        <div class="panel-body" *ngFor="let Product of products">
          <div class="btn btn-info btn-sm" [id]='Product.id' (click)='addToCart(this)'>
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart 
          </div> 
          <div class="col-xs-10">
            <div class="row vertical-align">
              <div class="col-xs-4"> 
                <img class="imageClass" [src]="Product.photoPath"/>
              </div>
              <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-4">Name</div>
                    <div class="col-xs-6">:{{Product.name}}</div>
                  </div> 
                  <div class="row">
                    <div class="col-xs-4">Price</div>
                    <div class="col-xs-6">:{{Product.price}}</div>
                  </div> 
                  <div class="row">
                    <div class="col-xs-4">Color</div>
                    <div class="col-xs-6">:{{Product.color}}</div>
                  </div> 
                  <div class="row">
                    <div class="col-xs-4">Description</div>
                    <div class="col-xs-6">:{{Product.description}}</div>
                  </div>
              </div>
            </div>
          </div>
        </div> 
    </div>
