<div class='panel-body'>
  <div class='row'>
      <div class='col-md-2' ><a routerLink="">About Us</a></div>
      <div class='col-md-2' ><a routerLink="product-list/1">Electronics</a></div>
      <div class='col-md-2' ><a routerLink="product-list/2">Footwear</a></div>
      <div class='col-md-2' ><a routerLink="product-list/3">Accessories</a></div>
      <div class='col-md-2' ><a routerLink="product-list/4">Clothes</a></div>
      <div class='col-md-2' ><a routerLink="cart">Cart</a></div>
  </div>
</div>
